name: Build + test + release

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: write

jobs:
  lint_test:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Allow access to avalanchego-operator repo
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.SNOWBOT_PAT }}
        run: git config --global url."https://${GITHUB_ACCESS_TOKEN}@github.com/ava-labs/avalanchego-operator".insteadOf "https://github.com/ava-labs/avalanchego-operator"
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: "v1.42"
          working-directory: .
          args: --timeout 3m
  unit_test:
    needs: lint_test
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Allow access to avalanchego-operator repo
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.SNOWBOT_PAT }}
        run: git config --global url."https://${GITHUB_ACCESS_TOKEN}@github.com/ava-labs/avalanchego-operator".insteadOf "https://github.com/ava-labs/avalanchego-operator"
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: "1.17.2" # The Go version to use.
      - run: go test -v -timeout 10m -race $(go list ./... | grep -v tests)
  e2e_test_release:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Run e2e tests
        shell: bash
        run: scripts/tests.e2e.sh 1.7.4 1.7.5
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
